---
layout: home
title: Home
---
<div class="container">
  <div class="row">
    <div class="ls-item col-sm-12 col-md-5">
      <ul id="lightSlider">
      {% for pic in site.data.homeSlider.entry.pics %}
        <li data-thumb="/media/{{ site.data.homeSlider.entry.folder}}/{{ pic }}">
          <img src="/media/{{ site.data.homeSlider.entry.folder}}/{{ pic }}" />
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Conference Submission Entries</h3>
        </div>
        <ul class="list-group">
          {% for item in site.data.conferences.entry %}
            <li class="list-group-item"><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Lab News</h3>
        </div>
        <ul class="list-group">
          {% for item in site.data.news.entry %}
            <li class="list-group-item"><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#lightSlider').lightSlider({
      item: 1,
      loop:true,
      slideMargin: 0,
      gallery: false,
      pager: false,
      auto: true
    });
  });
</script>
<style>
.ls-item {
  border: 0;
  background: none;
}
.ls-item ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-item li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.ls-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.panel .list-group .list-group-item {
  border-width: 1px 0;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>