---
layout: gallery
title: Gallery
---
<div class="container">
  {% for entry in site.data.gallery.entry %}
    <h3>{{ entry.place }} | {{ entry.date }}</h3>
    <div class="row lg-item" id="{{ entry.folder }}">
      {% for pic in entry.pics %}
          <div class="tb-item col-xs-2" data-src="/media/gallery/{{ entry.folder}}/{{ pic }}">
            <a href="#" class="thumbnail"><img src="/media/gallery/{{ entry.folder}}/{{ pic }}" /></a>
          </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".lg-item").each(function() {
        var itemid = $(this).attr("id");
        $("#"+itemid).lightGallery({
          thumbnail:true,
          selector: '.tb-item'
        }); 
    });
  });
</script>

<style>
.thumbnail {
  height: 100px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;
}
.col-xs-2 {
  padding-left: 5px;
  padding-right: 5px;
}
</style>