<!--Original code-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      &lt;!&ndash;-->
<!--      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--      </button> &ndash;&gt;-->
<!--      <a class="navbar-brand" href="/"style="font-size: 32px;">{{ site.title }}</a>-->
<!--         <li><a href="/" style="font-size: 20px;">Home</a></li>-->
<!--    <li><a href="/members" style="font-size: 20px;">Members</a></li>-->
<!--    <li><a href="/research" style="font-size: 20px;">Research</a></li>-->
<!--    <li><a href="/publications" style="font-size: 20px;">Publications</a></li>-->
<!--    <li><a href="/gallery" style="font-size: 20px;">Gallery</a></li>-->
<!--    <li><a href="/contact" style="font-size: 20px;">Contact Us</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--coded by Wang Ruogu, 2024/6/2 copied by Zhao Zhirui-->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--      </button>-->
<!--      <a class="navbar-brand" href=" ">{{ site.title }}</a >-->
<!--    </div>-->
<!--    <div class="navbar-collapse collapse navbar-inverse-collapse">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li>Home</li>-->
<!--        <li>Members</li>-->
<!--        <li>Research</li>-->
<!--        <li>Publications</li>-->
<!--        <li>Gallery</li>-->
<!--        <li>Contact Us</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--coded by Zhao Zhirui, referring to Wang's code, 2024/6/2 -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-size: 32px;">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/" style="font-size: 20px;">Home</a></li>
        <li><a href="/members" style="font-size: 20px;">Members</a></li>
        <li><a href="/research" style="font-size: 20px;">Research</a></li>
        <li><a href="/publications" style="font-size: 20px;">Publications</a></li>
        <li><a href="/gallery" style="font-size: 20px;">Gallery</a></li>
        <li><a href="/contact" style="font-size: 20px;">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

