body {
  padding-top: 70px;
}

.container {
  margin-top:10px;
}

.res_thumb {
  max-height: 150px;
}

.navbar {
  margin-bottom: 0;
}

email-addr::after {
  content: attr(email-domain);
}

email-addr::before {
  content: attr(email-user) "\0040";
}
